@model MyProject.Models.CustMaster

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.CustId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CustId, new {disabled = "disabled" })
            </div>  
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustName)
                @Html.ValidationMessageFor(model => model.CustName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acronym, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Acronym)
                @Html.ValidationMessageFor(model => model.Acronym)
            </div>  
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoofBranches, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoofBranches)
                @Html.ValidationMessageFor(model => model.NoofBranches)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LevelofAuthority, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LevelofAuthority)
                @Html.ValidationMessageFor(model => model.LevelofAuthority)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code)
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ticker, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ticker)
                @Html.ValidationMessageFor(model => model.Ticker)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InDemo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InDemo)
                @Html.ValidationMessageFor(model => model.InDemo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TieredPricing, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TieredPricing)
                @Html.ValidationMessageFor(model => model.TieredPricing)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.isActive)
                @Html.ValidationMessageFor(model => model.isActive)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@{

    if (ViewData["resultUpdate"] != null)
    {
        if (ViewData["resultupdate"].ToString() == "1")
        {
            ViewData["resultUpdate"] = null;
            <script>
            alert("Data Updated Successfully");
            </script>
        }
        else
        {
            ViewData["resultUpdate"] = null;
            <script>
            alert("Error in Data Updation");
            </script>

        }
    }

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
<script>
    $("#pageTitle").html("Customer Master-Edit");
</script>


}
 
